<link rel="stylesheet" href="stylesheets/show.css">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<%- include(`partial/header`) %>
<%- include(`partial/nav`) %>


<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="slide">
      <div class="slide-bar">
        <!-- <button><i class="fa-solid fa-bars"></i>PRIMIUM</button> -->
        <h1>CNN NEWS18</h1>
        <!-- <p>English-action-U/A 13+</p> -->
        <button id="btn"><i class="fa-solid fa-play"></i>WATCH</button>
      </div>
      </div>
      <div class="slide2">
        <img src="https://v3img.voot.com/resizeHigh,w_1920,h_1080/v3Storage/assets/cnn-news18generic-1697305890250.jpeg?imformat=chrome" alt="">
      </div>
    </div>
    <!--  -->
    <div class="swiper-slide">
      <div class="slide">
      <div class="slide-bar">
        <!-- <button><i class="fa-solid fa-bars"></i>PRIMIUM</button> -->
        <h1>CNBC Awaaz</h1>
        <!-- <p>october 11</p> -->
        <button id="btn"><i class="fa-solid fa-play"></i>WATCH</button>
      </div>
      </div>
      <div class="slide2">
        <img src="https://v3img.voot.com/resizeHigh,w_1920,h_1080/v3Storage/assets/cnbc18-anuj-singhal-16x9-1693479417161.jpg?imformat=chrome" alt="">
      </div>
    </div>
    <!--  -->
    <div class="swiper-slide">
      <div class="slide">
      <div class="slide-bar">
        <!-- <button><i class="fa-solid fa-bars"></i>PRIMIUM</button> -->
        <h1>NewsClick China Link</h1>
        <!-- <p>Hindi-Reality -U/A 16+</p> -->
        <button id="btn"><i class="fa-solid fa-play"></i>WATCH</button>
      </div>
      </div>
      <div class="slide2">
        <img src="https://v3img.voot.com/resizeHigh,w_1920,h_1080/jioimage/newcpp/651c45a9e711e0a54961dd2a/651c45a9e711e0a54961dd2a_1696351674282_aa.jpg?imformat=chrome" alt="">
      </div>
    </div>
<!--  -->
    <div class="swiper-slide">
      <div class="slide">
      <div class="slide-bar">
        <!-- <button><i class="fa-solid fa-bars"></i>PRIMIUM</button> -->
        <h1>Bebaak</h1>
        <p>Hindi-Drama-U/A 13+</p>
        
        <button id="btn"><i class="fa-solid fa-play"></i>WATCH</button>
      </div>
      </div>
      <div class="slide2">
        <img src="https://v3img.voot.com/resizeHigh,w_1920,h_1080/v3Storage/assets/bebaak-16x9-new-1696433042615.jpg?imformat=chrome" alt="" id="tag">
      </div>
    </div>
    <!--  -->
    <div class="swiper-slide">
      <div class="slide">
      <div class="slide-bar">
        <button><i class="fa-solid fa-bars"></i>PRIMIUM</button>
        <h1>Temtation Island</h1>
        <p>English- Reality-U/A 13+</p>
        
        <button id="btn" class="main"><i class="fa-solid fa-play"></i>WATCH</button>
      </div>
      </div>
      <div class="slide2">
        <img src="https://v3img.voot.com/resizeHigh,w_1920,h_1080/v3Storage/assets/temptation-island-s5_ivy-16x9-carousel-1697183056356.jpg?imformat=chrome" alt="">
      </div>
    </div>
    <!--  -->
    <div class="swiper-slide">
      <div class="slide">
      <div class="slide-bar">
        <button><i class="fa-solid fa-bars"></i>PRIMIUM</button>
        <h1>Peacock Hub</h1>
        <!-- <p>English-action-U/A 13+</p> -->
        <button id="btn"><i class="fa-solid fa-play"></i>WATCH</button>
      </div>
      </div>
      <div class="slide2">
        <img src="https://v3img.voot.com/resizeHigh,w_1920,h_1080/v3Storage/assets/peacock_16x9_01-1694090925189.jpg?imformat=chrome" alt="" id="tag">
      </div>
    </div>
    <!--  -->
  </div>
  
  
  <!-- <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div> -->
  <div class="swiper-pagination"></div>
</div>

<div id="center"></div>

<div id="page2">
  <div class="head">
  <h1>Fresh Episodes</h1>
   </div>
   <div class="slider-part">
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/kkk--grand-finale-3x4-1697302802437.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/parineetii_3x4-1695306470980.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/udaariyaan_3x4-1695306404190.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/neerja_3x4-1695306596707.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/3x4-1687585255162.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/suhagan-3x4-1693208579886.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/agnisakshi-3x4-1-1692360626738.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/sindhutai-3x4-1691995163091.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/top_goals_vertical-1696938136594.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/isl_top_goals_saves_vertical-1696859696293.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/ligue1_super_goals_vertical-1696864399392.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/mumbai_vs_kerla_highlights_horizontal_vertical-1696779820039.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/mumbai_vs_kerla_highlights_horizontal_vertical-1696779820039.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/laliga_review_vertical-1696858028511.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/laliga_review_vertical-1696858028511.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/rennais_vs_psg_highlights_vertical-1696796976866.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/atletico_madrid_vs_real_sociedad_highlights_vertical1-1696780028389.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/lamine_yamal_makes_history!_moments_you_cant_miss_vertical-1696798520493.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/mxon_france_highlights_vertical-1696803944862.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/niraj_india_will_vertical-1696712009486.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/isl_highlights_vertical-1696693061858.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/isl_highlights_vertical-1696693061858.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/isl_highlights_vertical-1696684476190.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/nba_abu_dhabi_vertical-1696535254087.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/seriaa_highlights_vertical-1696690786736.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/nba_abu_dhabi_horizontal_vertical-1696707642329.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/football_gold-vertical-1697003914335.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/top_goals_vertical-1697019517296.jpg?imformat=chrome" alt="">
    </div>
    <div class="child">
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/thomas_vertical-1696946736320.jpg?imformat=chrome" alt="">
    </div>
   </div>
</div>

<!-- new -->
<div id="page3">
  <div class="head">
    <h1>Top Hollywood Series</h1>
     </div>
     <div class="slider-part">
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/got_3_4-1683938784910.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/succession-3x4-1687368935851.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/and-just-like-that-3x4-1688538740769.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/rhobh_3x4-1686213649316.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/shark-tank-s-15_3x4-(1)-1696048766476.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/parks-and-recreation-3x4-1686391364806.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/football_gold-vertical-1696954716999.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/top_goals_matchweek-3-vertical-1696860987813.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/nancydrew_3x4-1693228497407.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/isl_top_goals_saves_vertical-1696859696293.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/hod-1683950566513.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/lawandorder-specialvictimsunit3x4-1685027136710.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/thewhitelotus-3x4-1683985038768.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/thewhitelotus-3x4-1683985038768.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/chicago-pd-3x4-1690432210840.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-last-of-us-3x4-1683984967746.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-last-of-us-3x4-1683984967746.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-'subtle-art-of-not-giving-a-f-ck-3x4-1688451489277.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/mxon_france_highlights_vertical-1696803944862.jpg?imformat=chrome" alt="">
        
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/s6thesopranos3x4-1684471722008.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/new%20amsterdam%20-%203x4-1685021216190.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/chicago-fire-3x4-1693199987030.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/isl_highlights_vertical-1696684476190.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/love_island_australia_s4_3x4-1690727876075.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/seriaa_highlights_vertical-1696690786736.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/nba_abu_dhabi_horizontal_vertical-1696707642329.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/s6sexandthecity3x4-1684389647826.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/below-deck-3x4-1688880776963.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/chernobyl3_4-1683938443434.jpg?imformat=chrome" alt="">
      </div>
     </div>
  </div>
</div>
<!-- new -->
<div id="page4">
  <div class="head">
    <h1>Top Rated Originals</h1>
     </div>
     <div class="slider-part">
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/asur2_3x4-1692798747887.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/inspecto_avinash_3x4-1692799243907.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/kaalkoot_3x4(1)-1694066562000.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/crackdown_3x4-1692798941169.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/apharan-3x4-1694794049661.jpg?imformat=chrome" alt="">
      </div>

      
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/rafuchakkar-3x4-3-1693639276407.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/top_goals_matchweek-3-vertical-1696860987813.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/taali-3x4-imdb-1693813361112.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/up65_3x4-1692799329846.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/hod-1683950566513.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/lawandorder-specialvictimsunit3x4-1685027136710.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/up65_3x4-1692799329846.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/illegal-s2-3x4-1683715144482.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/candy-3x4-1694793931934.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/ind_3x4-1692799134037.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/thugs-3x4-1688372396075.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-'subtle-art-of-not-giving-a-f-ck-3x4-1688451489277.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/mxon_france_highlights_vertical-1696803944862.jpg?imformat=chrome" alt="">
        
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/bajao-1695979200004.jpeg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/code-m-3x4-1694793711671.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/cv-3x4-1689940234331.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/love-you-abhi-3x4-1687860199415.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aseq-3x4-clean-1688477540571.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/onf_launch_02-cta-3x4-1690479039729.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/taali-3x4-imdb-1693813361112.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/illegal-s2-3x4-1683715144482.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/ind_3x4-1692799134037.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/up65_3x4-1692799329846.jpg?imformat=chrome" alt="">
      </div>
     </div>
  </div>
</div>
  
</div>
<!-- new -->
<div id="page5">
  <div class="head">
    <h1>Too Yumm Presents Aakashvani</h1>
     </div>
     <div class="slider-part">
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_oct12_vertical-1697076952874.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_oct11_vertical-1696991491550.jpeg?imformat=chrome" alt="">
        
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_oct10_vertical-1696904333019.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_oct9_vertical-1696818604389.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_oct8_vertical-1696730746533.jpg?imformat=chrome" alt="">
      </div>

      
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_oct8_vertical-1696730746533.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_oct7_vertical-1696646001845.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_oct6_vertical-1696559840505.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/up65_3x4-1692799329846.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/hod-1683950566513.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_oct6_vertical-1696559840505.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_oct4_vertical-1696371519342.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/illegal-s2-3x4-1683715144482.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/candy-3x4-1694793931934.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/ind_3x4-1692799134037.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_oct2_vertical-1696190569958.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_sep30_vertical-1696041211158.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/mxon_france_highlights_vertical-1696803944862.jpg?imformat=chrome" alt="">
        
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/bajao-1695979200004.jpeg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_sep29_vertical-1695938182220.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/cv-3x4-1689940234331.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/love-you-abhi-3x4-1687860199415.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_sep29_vertical-1695938182220.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_sep28_vertical-1695869276150.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_sep27_vertical-1695783498629.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_sep26_vertical-1695693873035.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/img_3137-1695694697698.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_sep22_vertical-1695351676882.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_sep19_vertical-1695087240053.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_sep18_vertical-1695000681449.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_sep21_vertical-1695258153429.jpeg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_sep16_vertical-1694828310948.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/thumbnail_1-1694569304468.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/thumbnail_1-1694484531442.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_14_09_ver-1694652372032.jpg?imformat=chrome" alt="">
      </div>
     </div>
  </div>
</div>
</div>
<!-- new -->
<div id="page6">
  <div class="head">
    <h1>Weekly Releases</h1>
     </div>
     <div class="slider-part">
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/transplant-s4-3x4-cta-1697085153917.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/real-time-with-bill-maher--3x4-1696750689071.jpg?imformat=chrome" alt="">        
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/lastweektonightwithjohnoliver-3x4_tag-1696679406472.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/our-flag-means-death-3x4(1)-1696666012777.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/shark-tank-s-15_3x4-(1)-1696048766476.jpg?imformat=chrome" alt="">
      </div>

      
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_oct8_vertical-1696730746533.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_oct7_vertical-1696646001845.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/chucky_3x4-1696480579170.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/quantum-leap_3x4-1696493450559.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/magnum-pi_3x4-1696480649111.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_oct6_vertical-1696559840505.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/below_deck_mediterranean_3x4_lable-1695720610805.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/lovers-the-neef-3x4-1694752867888.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-real-housewives-of-new-york-city-3x4-1690204302907.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-real-housewives-of-salt-lake-city-neew-3x4-1694752953301.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/below-deck-down-under-3x4-1690203981510.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-real-housewives-of-orange-county-3x4-1686061111901.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/buried-in-the-backyard-3x4_label-1689073305342.jpg?imformat=chrome" alt="">        
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/nyh_3x4-1686467187547.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-real-housewives-of-salt-lake-city-neew-3x4-1694752953301.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/llb_season_finale_3x4-1696422028790.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/kyy5-3x4-1695975475441.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/bajao-1695979200004.jpeg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/ind_3x4-1692799134037.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/rafuchakkar-3x4-3-1693639276407.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/bajao-1695979200004.jpeg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/3dtg_bbh17_3x4-1697087880378.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/main%20hoon%20surya%20singham%202-3x4-1677575831452.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/badlapur-1683802156653.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/bloody_daddy_3x4-1689152042847.jpg?imformat=chrome" alt="">
      </div>
      
      
     </div>
  </div>
</div>
</div>
</div>
<!-- new -->
<div id="page7">
  <div class="head">
    <h1>Binge-worthy shows</h1>
     </div>
     <div class="slider-part">
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/llb_season_finale_3x4-1696422028790.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/kyy5-3x4-1695975475441.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/bajao-1695979200004.jpeg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/our-flag-means-death-3x4(1)-1696666012777.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/do-gubare-clean--3x4-1695979165560.jpg?imformat=chrome" alt="">
      </div>

      
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/ind_3x4-1692799134037.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/ind_3x4-1692799134037.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/chucky_3x4-1696480579170.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/quantum-leap_3x4-1696493450559.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/magnum-pi_3x4-1696480649111.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_oct6_vertical-1696559840505.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/below_deck_mediterranean_3x4_lable-1695720610805.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/lovers-the-neef-3x4-1694752867888.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-real-housewives-of-new-york-city-3x4-1690204302907.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-real-housewives-of-salt-lake-city-neew-3x4-1694752953301.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/below-deck-down-under-3x4-1690203981510.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-real-housewives-of-orange-county-3x4-1686061111901.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/buried-in-the-backyard-3x4_label-1689073305342.jpg?imformat=chrome" alt="">        
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/nyh_3x4-1686467187547.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-real-housewives-of-salt-lake-city-neew-3x4-1694752953301.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/llb_season_finale_3x4-1696422028790.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/kyy5-3x4-1695975475441.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/bajao-1695979200004.jpeg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/ind_3x4-1692799134037.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/rafuchakkar-3x4-3-1693639276407.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/bajao-1695979200004.jpeg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/3dtg_bbh17_3x4-1697087880378.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/main%20hoon%20surya%20singham%202-3x4-1677575831452.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/badlapur-1683802156653.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/bloody_daddy_3x4-1689152042847.jpg?imformat=chrome" alt="">
      </div>
      
      
     </div>
  </div>
</div>
</div>
</div>
</div>
<!-- new -->
<div id="page8">
  <div class="head">
    <h1>Action Blockbusters</h1>
     </div>
     <div class="slider-part">
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/bloody_daddy_3x4-1689152042847.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/singham-returns-1678889360141.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/dashing-cm-1683867674499.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/our-flag-means-death-3x4(1)-1696666012777.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/main%20hoon%20surya%20singham%202-3x4-1677575831452.jpg" alt="">
      </div>

      
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/main%20hoon%20surya%20singham%202-3x4-1677575831452.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/badlapur-1683802156653.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/lingaa-1674452775334.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/quantum-leap_3x4-1696493450559.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/r...-rajkumar-3x4-1678890091722.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/vv_02_3x4-1689152074768.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/bhediya-3x41-1689156291806.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/jioimage/35/89/62e9c7a0847f11e6927f0940a27f891c_1583324557653_p.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/mumbaikar-clean-3x4-1687779652093.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/jioimage/33/83/0b7bc37176b411e6b879b77c8bf4d3fc_1581945026090_p.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/jioimage/90/20/8443ba70744711e688d58522ba040c22_1581947709100_p.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/indian-solider-never-on-holiday-3x4-1695786325185.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/ek_aur_qayamat_3x4-1695222461986.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/jioimage/4/7/e15f5cd0871f11e9b1ef4fd96b3a1664_1610422457620_p.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/untitled-1-1684495000524.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/llb_season_finale_3x4-1696422028790.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/kyy5-3x4-1695975475441.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/agent%20vinod%20(1)-1674450057504.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/agent%20vinod%20(1)-1674450057504.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/agent%20vinod%20(1)-1674450057504.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/pratighat-3x4-1695116311530.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/mission_vande_mataram_3x4-1695222694698.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/main%20hoon%20surya%20singham%202-3x4-1677575831452.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/power_unlimited_2-_3x4-1695222780450.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/jioimage/13/5/daad0dd074f611e688d58522ba040c22_1592564179458_p.jpg?imformat=chrome" alt="">
      </div>
      
      
     </div>
  </div>
</div>
</div>
</div>
</div>
</div>
<!-- page -->
<div id="page9">
  <div class="head">
    <h1>Biggest Reality show</h1>
     </div>
     <div class="slider-part">
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/kkk-grand-finale-3x4-1697087427671.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/finale-week-3x4-1697088434820.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/bbo-ep---3x4-1692619146498.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/love-island-usa-4-new-season-3x4-1684308757619.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/rhobh_3x4-1686213649316.jpg?imformat=chrome" alt="">
      </div>

      
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/love_island_australia_s4_3x4-1690727876075.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/shark-tank-s-15_3x4-(1)-1696048766476.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/chillin_island_3x4-1691731023380.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/masterchef3x4-1658397955875.png?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/bd-3x4-1691294775027.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/were-here-s3-3x4-1689582774844.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/couples%20therapy%20-%203x4-1662382279138.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/vanderpump_3x4-1686935306466.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/below-deck-adventure-3x4-1688619935184.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/real-housewives-of-dubai-s1-3x4-1688644710688.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/real-housewives-of-new-jersey-s12-3x4-1688536958712.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/indian-solider-never-on-holiday-3x4-1695786325185.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/ek_aur_qayamat_3x4-1695222461986.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">

        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/real-housewives-of-new-jersey-s12-3x4-1688536958712.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-real-housewives-ultimate-girls-trip-3x4-1686733677203.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
          <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/hustle-temp-3x4-1694780983658.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/kyy5-3x4-1695975475441.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/agent%20vinod%20(1)-1674450057504.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/agent%20vinod%20(1)-1674450057504.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/indian-solider-never-on-holiday-3x4-1695786325185.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-real-housewives-of-orange-county-3x4-1686061111901.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/love-island-laid-bare-the-drop-3x4-1684925564928.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/sa_3x4-1688474672473.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/made-in-chelsea-3x4-1686733750723.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/sdc_3x4-1686213979632.jpg?imformat=chrome" alt="">
      </div>
      
      
     </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- new -->
<div id="page10">
  <div class="head">
    <h1> Explosive   Action </h1>
     </div>
     <div class="slider-part">
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/fast_x_lang_3x4-1695293442238.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/shazam-fury-of-the-gods-new-movie-3x4-1695293590460.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/oblivion_3x4-1687170362655.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/skyscraper-3x4-1690459029607.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/van-helsing-3x4-1692160071163.jpg?imformat=chrome" alt="">
      </div>

      
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/ripd2-3x4-1687930991008.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/american_made_3x4-1690458088245.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/gladiator-3x4-1686299654748.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-mummy-3x4-1694113768407.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/spawn-3x4-1692257473012.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-kingdom-3x4-1688631411225.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the_man_with_the_iron_fists_3x4-1694077419647.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/ricochet-3x4-1692677846601.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/blackhat-3x4-1692160001119.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/bo47ronin_3x4-1687844904294.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/real-housewives-of-new-jersey-s12-3x4-1688536958712.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/waterworld-3x4-1687752088422.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/theaccountant-3x4-1686723238558.jpg?imformat=chrome" alt="">
      </div>
      <div class="child"> 
      <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/contraband_3x4-1687163945885.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/robin-hood-3x4-1687716303164.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
          <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/hustle-temp-3x4-1694780983658.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/kyy5-3x4-1695975475441.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/agent%20vinod%20(1)-1674450057504.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/agent%20vinod%20(1)-1674450057504.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/indian-solider-never-on-holiday-3x4-1695786325185.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-real-housewives-of-orange-county-3x4-1686061111901.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/love-island-laid-bare-the-drop-3x4-1684925564928.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/sa_3x4-1688474672473.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/made-in-chelsea-3x4-1686733750723.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/sdc_3x4-1686213979632.jpg?imformat=chrome" alt="">
      </div>
      
      
     </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- new -->
<div id="page11">
  <div class="head">
    <h1> Best Of Romance</h1>
     </div>
     <div class="slider-part">
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/intolerable-cruelty-3x4-1687845767797.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/daninreallife_3x4-1687412168611.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/theholiday-3x4-1687929477692.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/theamericanpresident_3x4-1686917732827.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/farandaway_3x4-1688624658505.jpg?imformat=chrome" alt="">
      </div>

      
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-invention-of-lying-3x4-1686917637760.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/alongcamepolly_3x4-1686917503535.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/charlie-st-cloud-3x4-1686900347471.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/fifty_shades_freed_3x4-1690175217559.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/abouttime-3x4-1686724357268.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/of-an-age-3x4-1692246449913.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/definitelymaybe_3x4-1688624475694.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/realitybites-3x4-1687754785036.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/realitybites-3x4-1687754785036.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/blended-3x4-1686723724539.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/definitelymaybe_3x4-1688624475694.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/crazy-stupid-love-3x4-1686723853431.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/fsd_3x4-1686307361404.jpg?imformat=chrome" alt="">
      </div>
      <div class="child"> 
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/trainwreck_3x4-1686299102136.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/robin-hood-3x4-1687716303164.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
          <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/hustle-temp-3x4-1694780983658.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/kyy5-3x4-1695975475441.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/agent%20vinod%20(1)-1674450057504.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/agent%20vinod%20(1)-1674450057504.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/indian-solider-never-on-holiday-3x4-1695786325185.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-real-housewives-of-orange-county-3x4-1686061111901.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/love-island-laid-bare-the-drop-3x4-1684925564928.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/sa_3x4-1688474672473.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/made-in-chelsea-3x4-1686733750723.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/sdc_3x4-1686213979632.jpg?imformat=chrome" alt="">
      </div>
      
      
     </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- new -->
<div id="page12">
  <div class="head">
    <h1> Big laughs Guaranted</h1>
     </div>
     <div class="slider-part">
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/de-dana-dan-3x4-1671601858820.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/desi%20boyz-1676037386933.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/main%20tera%20hero-1676037281155.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/happy-bhag-jaegi-1683809156552.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/kuku-mathur-jhand-ho-gayi-3x4-1673870979412.jpg?imformat=chrome" alt="">
      </div>

      
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/happy-firse-bhag-jayegi-1683809106058.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/jioimage/3/31/a46ed8b01cce11eaa69e8b72506c4cd7_1626170497956_p.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/jioimage/3/31/a46ed8b01cce11eaa69e8b72506c4cd7_1626170497956_p.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/ramprasad%20ki%20tehrvi-1674450759916.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/housefull3-1676960014505.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/partner-3x4-1691316929058.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/luka%20chuppi-1676037532252.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/luka%20chuppi-1676037532252.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/luka%20chuppi-1676037532252.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/welcome-back-1674134475542.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/welcome-back-1674134475542.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/happy-ending-1674134376831.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/shamitabh-3x4-1683357733655.jpg?imformat=chrome" alt="">
      </div>
      <div class="child"> 
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/jioimage/3/61/0b78681176b411e6b879b77c8bf4d3fc_1583325727918_p.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/robin-hood-3x4-1687716303164.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
          <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/hustle-temp-3x4-1694780983658.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/kyy5-3x4-1695975475441.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/agent%20vinod%20(1)-1674450057504.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/agent%20vinod%20(1)-1674450057504.jpg" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/indian-solider-never-on-holiday-3x4-1695786325185.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-real-housewives-of-orange-county-3x4-1686061111901.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/love-island-laid-bare-the-drop-3x4-1684925564928.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/sa_3x4-1688474672473.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/made-in-chelsea-3x4-1686733750723.jpg?imformat=chrome" alt="">
      </div>
      <div class="child">
        <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/sdc_3x4-1686213979632.jpg?imformat=chrome" alt="">
      </div>
      
      
     </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="footer">
  <div class="slider3">
    <div class="child1">
      <h2>Jiocinema</h2>
      <p>For you</p>
      <p>sports</p>
      <p>Movies</p>
      <p>Tv shows</p>
    </div>
    <div class="child1">
      <h2>Support</h2>
      <p>Help Center</p>
      <p>Terms of Use</p>
      <p>Privacy Policy</p>
      <p>Content Complants</p>
    </div>
    <div class="partial">
    <div class="child3">
      <h2>Connect with Us</h2>
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-youtube"></i>
    </div>
    <div class="child4">
      <h1>Download the App</h1>
      <img src="https://www.jiocinema.com/images/googlePlay.svg" alt="">
      <img src="https://www.jiocinema.com/images/appleStore.svg" alt="">
    </div>
    </div>
  </div>
</div>
<div id="footer1">
  <div class="last">
    <p>copyright2023Viacom18 Media PVT LTD.All rights reserved.</p>
    <img src="https://www.jiocinema.com/images/payments/jio-logo.png" alt="">
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="javascripts/script3.js"></script>

<%- include(`partial/footer`) %>