<%- include(`partial/header`) %>


<link rel="stylesheet" href="stylesheets/sports.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<%- include(`partial/nav`) %>

<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slide">
       <h1>Bigg Boss of Kanada</h1>
       <button id="tag2"><i class="fa-solid fa-play"></i>watch</button>
        </div>
        <div class="slide2">
          <img src="https://v3img.voot.com/resizeHigh,w_1920,h_1080/v3Storage/assets/tv-1697306821690.jpg?imformat=chrome" alt="">
        </div>
      </div>
    <!-- new -->
    <div class="swiper-slide">
        <div class="slide">
       <h1>BIGG KHULASA From Top YouTubers</h1>
       <button id="elem"><i class="fa-solid fa-play"></i>watch</button>
        </div>
        <div class="slide2">
          <img src="https://v3img.voot.com/resizeHigh,w_1920,h_1080/v3Storage/assets/bbh17-jc-lc-16x9-1697367397215.jpg?imformat=chrome" alt="">
        </div>
      </div>
      <!-- new -->
      <div class="swiper-slide">
        <div class="slide">
       <h1>Khatro ke khiladi</h1>
       <button id="tag"><i class="fa-solid fa-play"></i>watch</button>
        </div>
        <div class="slide2">
            <img src="https://v3img.voot.com/resizeHigh,w_1920,h_1080/v3Storage/assets/kkk-grand-finale-1697302783210.jpg?imformat=chrome" alt="">
        </div>
      </div>
      <!-- new -->
      <div class="swiper-slide">
        <div class="slide">
       <h1>Indonesian GP-Race</h1>
       <button id="tag"><i class="fa-solid fa-play"></i>watch</button>
        </div>
        <div class="slide2">
            <img src="https://v3img.voot.com/resizeHigh,w_1920,h_1080/v3Storage/assets/indonesia_ctv-1697124102852.jpg?imformat=chrome" alt="">
        </div>
      </div>
    </div>

 
    <div class="swiper-pagination"></div>
    <div class="autoplay-progress">
      <svg viewBox="0 0 48 48">
        <circle cx="24" cy="24" r="20"></circle>
      </svg>
      <span></span>
    </div>
  </div>
  <div id="center">
    <h1>Dhamakedar Weekend!🧨</h1>
    <div class="child1">
        <img src="https://v3img.voot.com/resizeMedium,w_960,h_540/v3Storage/assets/bbh-dhamakedar-reality-weekend-16x9-1697353341964.jpg?imformat=chrome" alt="">
    </div>
    <div class="child1">
        <img src="https://v3img.voot.com/resizeMedium,w_960,h_540/v3Storage/assets/kkk-dhamakedar-reality-weekend-16x9-1697349109605.jpg?imformat=chrome" alt="">
    </div>
    <div class="child1">
        <img src="https://v3img.voot.com/resizeMedium,w_960,h_540/v3Storage/assets/roadies-dhamakedar-reality-weekend-16x9-1697349124683.jpg?imformat=chrome" alt="">
    </div>
    <div class="child1">
        <img src="https://v3img.voot.com/resizeMedium,w_960,h_540/v3Storage/assets/bbk-dhamakedar-reality-weekend-16x9-1697349145172.jpg?imformat=chrome" alt="">
    </div>
  </div>

  <div id="page">
    <div class="nav">
        <img src="https://v3img.voot.com/resizeMedium,w_1920,h_411/v3Storage/assets/14x3-1697306978086.jpg?imformat=chrome" alt="">
    </div>
  </div>
   
  <div id="page2">
    <div class="head">
        <h1> Fresh Episode</h1>
         </div>
         <div class="slider-part">
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/ting-mili-kya-lc-3x4-1697299169032.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/3x4ss-1695985840383.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/udaariyaan_3x4-1695306404190.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/neerja_3x4-1695306596707.jpg?imformat=chrome" alt="">
          </div>
          
          
    
          
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/kkk--grand-finale-3x4-1697302802437.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/roadies-3x4-1697293183325.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/roadies-3x4-1697293183325.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/roadies-3x4-1697293183325.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/parineetii_3x4-1695306470980.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/3x4nfsf-1696568740830.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/junooniyat-3x4-1-1692361681131.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/junooniyat-3x4-1-1692361681131.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/suhagan-3x4-1693208579886.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/agnisakshi-3x4-1-1692360626738.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/blended-3x4-1686723724539.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/definitelymaybe_3x4-1688624475694.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/crazy-stupid-love-3x4-1686723853431.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/fsd_3x4-1686307361404.jpg?imformat=chrome" alt="">
          </div>
          <div class="child"> 
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/trainwreck_3x4-1686299102136.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/robin-hood-3x4-1687716303164.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
              <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/hustle-temp-3x4-1694780983658.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/kyy5-3x4-1695975475441.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/agent%20vinod%20(1)-1674450057504.jpg" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/agent%20vinod%20(1)-1674450057504.jpg" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/indian-solider-never-on-holiday-3x4-1695786325185.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/the-real-housewives-of-orange-county-3x4-1686061111901.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/love-island-laid-bare-the-drop-3x4-1684925564928.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/sa_3x4-1688474672473.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/made-in-chelsea-3x4-1686733750723.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/sdc_3x4-1686213979632.jpg?imformat=chrome" alt="">
          </div>
          
          
         </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  </div>
  <!-- new -->
   <div id="page3">
    <div class="head">
        <h1>Top sports Picks</h1>
         </div>
         <div class="slider-part">
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/bgmi_live_1_vertical-1697096402983.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/aakashvani_oct15-1697338266229.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/ico_vods_vertical-1697297493849.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/smat_t20_storeis_vertical-1697130466774.jpg?imformat=chrome" alt="">
          </div>
          
          
    
          
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/ico_vods_vertical-1697294698001.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/smat_matters_vertical-1697221658706.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/isl_top_goals_saves_vertical-1697219161552.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/vertical-1696954141371.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/top_goals_vertical-1697019517296.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/football_gold-vertical-1697003914335.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/isl_round_3_top_goals_vertical-1697183705787.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/football_gold-vertical-1696954716999.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/mumbai_vs_kerla_highlights_horizontal_vertical-1696779820039.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/isl_round_3_top_saves_vertical-1697185256903.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/ligue1_super_goals_vertical-1696864399392.jpg?imformat=chrome" alt="">
          </div>
          
          
          
          
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/love-island-laid-bare-the-drop-3x4-1684925564928.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/sa_3x4-1688474672473.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/made-in-chelsea-3x4-1686733750723.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/sdc_3x4-1686213979632.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/top_goals_vertical-1697019517296.jpg?imformat=chrome" alt="">
          </div>
          
         </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  </div>
   </div>
   <!-- new -->
    <div id="page4">
        <div class="head">
            <h1>Syed Mushtaq Ali Trophy Special</h1>
             </div>
             <div class="slider-part">
              
                
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/smat_t20_storeis_vertical-1697268301612.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/smat_matters_vertical-1697221225025.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/smat_t20_storeis_new_vertical-1697125474959.jpg?imformat=chrome" alt="">
              </div>
              
              
        
              
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/smat_matters_vertical-1697221760762.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/smat_t20_storeis_vertical-1697223030784.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/smat_matters_vertical-1697221133227.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/smat_t20_storeis_vertical-1697130466774.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/smat_t20_storeis_vertical-1697131052358.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/smat_matters_vertical-1697221658706.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/smat_t20_storeis_vertical-1697168006445.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/football_gold-vertical-1696954716999.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/mumbai_vs_kerla_highlights_horizontal_vertical-1696779820039.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/isl_round_3_top_saves_vertical-1697185256903.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/ligue1_super_goals_vertical-1696864399392.jpg?imformat=chrome" alt="">
              </div>
              
              
              
              
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/love-island-laid-bare-the-drop-3x4-1684925564928.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/sa_3x4-1688474672473.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/made-in-chelsea-3x4-1686733750723.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/sdc_3x4-1686213979632.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/top_goals_vertical-1697019517296.jpg?imformat=chrome" alt="">
              </div>
              
             </div>
          </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
      </div>
       </div>
    </div>
    <!-- new -->
    <div id="page5">
        <div class="head">
            <h1>Football Goals</h1>
             </div>
             <div class="slider-part">
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/northeast_vs_chennaiyin-vertical-1696002915357.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/mumbai_vs_kerla_highlights_horizontal_vertical-1696779820039.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/isl_highlights_vertical-1696693061858.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/isl_highlights_vertical-1696684476190.jpg?imformat=chrome" alt="">
              </div>
              
              
        
              
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/isl_highlights_vertical-1696606903944.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/jfc_vs_hfc-vertical-1696520219375.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/bfc_vs_ebfc-vertical-1696433822614.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/fcg_vs_pfc-vertical-1696260794749.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/isl_highlights_vertical-1696175102410.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/east_bengal_vs_hyderabad-vertical-1696088930097.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/northeast_vs_chennaiyin-vertical-1696002915357.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/football_gold-vertical-1696954716999.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/odisha_vs_mumbai-vertical-1695917840318.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/isl_round_3_top_saves_vertical-1697185256903.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/ligue1_super_goals_vertical-1696864399392.jpg?imformat=chrome" alt="">
              </div>
              
              
              
              
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/love-island-laid-bare-the-drop-3x4-1684925564928.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/sa_3x4-1688474672473.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/made-in-chelsea-3x4-1686733750723.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/sdc_3x4-1686213979632.jpg?imformat=chrome" alt="">
              </div>
              <div class="child">
                <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/top_goals_vertical-1697019517296.jpg?imformat=chrome" alt="">
              </div>
              
             </div>
          </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
      </div>
       </div>
    </div>
    </div> 
     <!--new  -->

    <div id="page6">
        <div class="part">
            <img src="https://v3img.voot.com/resizeMedium,w_1920,h_411/v3Storage/assets/smat_14x3-1697111545485.jpg?imformat=chrome" alt="">
        </div>
    </div>
   <div id="page7">
    <div class="head">
        <h1>Follow your favourite Stars</h1>
         </div>
         <div class="slider-part">
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/cricket_verticals_kphli-1696155127684.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/cricket_verticals_rohit-1696155162842.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/cricket_verticals_gill-1696155272050.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/cricket_verticals_hardik-1696155446814.jpg?imformat=chrome" alt="">
          </div>
          
          
    
          
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/cricket_verticals_surya-1696155360395.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/cricket_verticals_jasprit_bumrah-1696155566288.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/cricket_verticals_rahul-1696155730980.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/cricket_verticals_shami-1696155592832.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/cricket_verticals_jaiswal-1696155755254.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/east_bengal_vs_hyderabad-vertical-1696088930097.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/northeast_vs_chennaiyin-vertical-1696002915357.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/cricket_verticals_warner-1696155828110.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/cricket_verticals_rinku-1696156231781.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/msd_player_page_vertical-1683627181848.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/devon_player_page_vertical%20(1)-1683630135459.jpg" alt="">
          </div>
          
          
          
          
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/love-island-laid-bare-the-drop-3x4-1684925564928.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/sa_3x4-1688474672473.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/made-in-chelsea-3x4-1686733750723.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/sdc_3x4-1686213979632.jpg?imformat=chrome" alt="">
          </div>
          <div class="child">
            <img src="https://v3img.voot.com/resizeMedium,w_810,h_1080/v3Storage/assets/top_goals_vertical-1697019517296.jpg?imformat=chrome" alt="">
          </div>
          
         </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  </div>
   </div>
</div>
</div> 
   </div>

   <div id="footer">
    <div class="slider3">
      <div class="child2">
        <h2>Jiocinema</h2>
        <p>For you</p>
        <p>sports</p>
        <p>Movies</p>
        <p>Tv shows</p>
      </div>
      <div class="child2">
        <h2>Support</h2>
        <p>Help Center</p>
        <p>Terms of Use</p>
        <p>Privacy Policy</p>
        <p>Content Complants</p>
      </div>
      <div class="partial">
      <div class="child3">
        <h2>Connect with Us</h2>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-youtube"></i>
      </div>
      <div class="child4">
        <h1>Download the App</h1>
        <img src="https://www.jiocinema.com/images/googlePlay.svg" alt="">
        <img src="https://www.jiocinema.com/images/appleStore.svg" alt="">
      </div>
      </div>
    </div>
  </div>
  <div id="footer1">
    <div class="last">
      <p>copyright©2023Viacom18 Media PVT LTD.All rights reserved.</p>
      <img src="https://www.jiocinema.com/images/payments/jio-logo.png" alt="">
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<script src="javascripts/script2.js"></script>
<%- include(`partial/footer`) %>