<link rel="stylesheet" href="stylesheets/nav.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav>
    <div id="part">
    <img src="https://www.jiocinema.com/images/jc_logo_v2.svg" alt="" >
    
    
    
    <ul>
        <a href="/subscribe">subscribe</a>
        <a href="/foryou">For you</a>
        <a href="/sports">sports</a>
        <a href="/movies">Movies</a>
        <a href="/Tvshows">Tv shows</a>
        <a href="/news">News</a>
    </ul>
    </div>
    <div id="part2">
        <input type="text" placeholder="Search" name="name" >
        <i class="fa-solid fa-microphone"></i>
        <img src="https://www.jiocinema.com/images/profile/profile_avatar-v2.svg" alt="">
    </div>
</nav>